

<!---- END  Center ProgressBar  -->

<div class="row col-lg-12 col-xs-12" style="margin-top: 5px">
    <div class="row col-lg-12 col-xs-12" style="margin-left: 1px">
      <div class="box box-info">
        <div class="box-header with-border">
              <h3 class="box-title">Visor DTEs - Emisión</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
             </div> 
            <div class="box-body" style="">
            <div class="col-lg-12">
                <!-- Left Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                      <!-- small box -->
                      <div class="small-box bg-blue">
                        <div class="inner">
                          <h3>{{dte_loaded_count}}</h3>

                          <p>DTE Cargados</p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-ios-cloud-upload"></i>
                      </div>
                      <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
                  </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-blue">
                    <div class="inner">
                      <h3>{{dte_uploaded_count}}<sup style="font-size: 20px"></sup></h3>

                      <p>Enviados a DIAN</p>
                  </div>
                  <div class="icon">
                      <i class="ion ion-ios-upload-outline"></i>
                  </div>
                  <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
              </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{dte_accepted_count}}</h3>

                  <p>Aceptados</p>
              </div>
              <div class="icon">
                  <i class="ion ion-android-done"></i>
              </div>
              <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{dte_rejected_count}}</h3>

              <p>Rechazados</p>
          </div>
          <div class="icon">
              <i class="ion ion-arrow-graph-down-right"></i>
          </div>
          <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
      </div>
  </div>
  <!-- ./col -->
</div>   
<!-- small box -->     
</div>
</div>
</div>
</div>
</div>

    <!----- END Left Small boxes (Stat box) -->

    <!----- Center stats  -->
    <div class="row col-lg-12 col-xs-12" style="margin-left: 1px">
        <div class="row col-lg-12 col-xs-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Visor Emails / Colas Envío</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
              <div class="row">
                <div class="col-md-4">
                <div class="col-md-11">
                  <p class="text-center">
                    <strong>Envío Mail</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">Enviados</span>
                    <span class="progress-number"><b>{{total_mail_sent}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" style="width: 100%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Aceptados completos</span>
                    <span class="progress-number" ><b>{{total_mail_delivered}}</b>/{{total_mail_sent}}</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="total_mail_delivered_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Aceptados incompletos</span>
                    <span class="progress-number"><b>{{total_mail_nocomplete}}</b>/{{total_mail_sent}}</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="total_mail_nocomplete_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">En ejecución</span>
                    <span class="progress-number"><b>{{total_mail_sending}}</b>/{{total_mail_sent}}</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="total_mail_sending_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Rechazados</span>
                    <span class="progress-number"><b>{{total_mail_err}}</b>/{{total_mail_sent}}</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" [style.width]="total_mail_err_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                </div>
                <!-- /.col -->
                 

                  <!-- /.chart-responsive -->
                </div>
                <!-- Colas -->
                <div class="col-md-4">
                    <div class="col-md-11">
                  <p class="text-center">
                    <strong>Cola de envío a DIAN</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">EPR</span>
                    <span class="progress-number"><b>{{q_epr}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="q_epr_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">PND</span>
                    <span class="progress-number"><b>{{q_pnd}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="q_pnd_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->

                  <div class="progress-group">
                    <span class="progress-text">INI</span>
                    <span class="progress-number"><b>{{q_ini}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="q_ini_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">VAL</span>
                    <span class="progress-number"><b>{{q_val}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="q_val_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">EXV</span>
                    <span class="progress-number"><b>{{q_exv}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="q_exv_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">DNE</span>
                    <span class="progress-number"><b>{{q_dne}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" [style.width]="q_dne_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
              </div>
                </div>

                <!-- /.col -->
                <div class="col-md-4">
                    <div class="col-md-11" style="margin-left: 2px">
                  <p class="text-center">
                    <strong>Cola de envío email</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">INI</span>
                    <span class="progress-number"><b>{{mail_ini}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="qcli_ini_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">PND</span>
                    <span class="progress-number"><b>{{mail_pnd}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" [style.width]="qcli_pnd_porc"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">ERR</span>
                    <span class="progress-number"><b>{{mail_err}}</b></span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" [style.width]="qcli_err_porc"></div>
                    </div>
                  </div>

                </div>
                <!-- /.col -->                

                <!--  -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer" style="">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>-->
                    <h5>Última carga</h5>
                    <span class="description-header"><STRONG><p>{{last_load}}</p></STRONG></span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                     <!--<span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>-->
                    <h5>Último Envío a DIAN</h5>
                    <span class="description-header"><STRONG><p>{{last_upload}}</p></STRONG></span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                     <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>-->
                    <h5>Última Respuesta DIAN</h5>
                    <span class="description-header"><STRONG><p>{{last_resp_DIAN}}</p></STRONG></span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                     <!--<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>-->
                    <h5>Último Email Generado</h5>
                    <span class="description-header"><STRONG><p>{{last_sent_email}}</p></STRONG></span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          <!-- /.box -->
        </div> 
        </div>
    </div>    


<!---- END  Center ProgressBar  -->

    <!-- <div class="row col-sm-1" style="display: block; height: 400px; background-color: transparent; border-width: 5px;">
    </div>
-->


<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap  -->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="bower_components/chart.js/Chart.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script src="node_modules/chart.js/src/chart.js"></script>


