
<!----- Right Small boxes (Stat box) -->
<div class="row col-md-3">

    <div class="col-sm-12">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>{{total_mail_sent}}</h3>
                <p>Generados</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-cloud-upload"></i>
            </div>
            <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
        </div>
        
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{total_mail_delivered}}</h3>
                <p>Aceptados</p>
            </div>
            <div class="icon">
                <i class="ion ion-email-unread"></i>
            </div>
            <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
        </div>

        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{total_mail_nocomplete}}</h3>
                <p>Incompletos</p>
            </div>
            <div class="icon">
                <i class="ion ion-email-unread"></i>
            </div>
            <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{total_mail_sending}}</h3>
                <p>En Ejecución</p>
            </div>
            <div class="icon">
                <i class="ion ion-email-unread"></i>
            </div>
            <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{total_mail_err}}</h3>
                <p>Error en Ejecución</p>
            </div>
            <div class="icon">
                <i class="ion ion-alert-circled"></i>
            </div>
            <a href="#" class="small-box-footer">More<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

<!----- END Right Small boxes (Stat box) -->

<!-- <--main section class="col-lg-10"> -->
    <br>
    <br>
</div>

