<div>
  <div>
    
    <div style="display: block">
      <canvas baseChart width="750" height="300"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [colors]="lineChartColors"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>

