<div class="container  col-lg-12" >
	<div class="flex">
		<div class="flex-item">
			<div style="display: block;">
				<canvas baseChart  width="750" height="250"
				[datasets]="lineChartData"
				[labels]="lineChartLabels"				
				[colors]="lineChartColors"
				[legend]="lineChartLegend"
				[chartType]="lineChartType"
				[plugins]="lineChartPlugins"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)">
			</canvas>
		</div>
	</div>
</div>


