
<br/>
<div class="row col-lg-3">
	<p id = "main_tittle">{{titulo}}</p>
</div>
<div  class="row col-lg-3 box_form">
	<form #formProducto="ngForm" (ngSubmit)="onSubmit()"  id="formProducto" enctype="multipart/form-data" method="POST">

		<label>
			NIT
		</label>
		<input type="text" #iden_emis="ngModel" name="iden_emis" [(ngModel)]="documento.iden_emis" class="txt form-control" required pattern="[0-9]+" required >
		<br/>
		<label>
			Folio		
		</label>
		
		<input type="text" class="txt form-control" #iden_docu="ngModel" name="iden_docu" [(ngModel)]="documento.iden_docu"  required pattern="[0-9A-Za-z,]+" required >
			
		<br>
		<input type="submit" value="Buscar" [disabled]="!formProducto.form.valid" class="btn btn-success"/>
		
		<input type="button" value="Cancelar" class="btn btn-success"  (click)="clearControls()" style="margin-left: 10px" />

	</form>
</div>

<div class="box_list">
	<div> 
		<table class="table table-responsive table-striped">
    		<thead>
        		<tr class="header_table">
		            <th>NIT Emisor</th>
		            <th>Folio</th>
		            <th>Email</th>
		            <th>Fecha Emisión</th>
		            <th>Estado Envio</th>
		            <th>Estado Entrega</th>
		            <th>Mensaje Servidor</th>
        		</tr>
    		</thead>
    		<tbody  *ngIf="total>=1">
        		<tr class="item_table" *ngFor="let envio of listado_envios">
		            <td>{{envio.iden_emis}}</td>
		            <td>{{envio.iden_docu}}</td>
		            <td>{{envio.qadd_mail}}</td>
		            <td>{{envio.fech_emis}}</td>
		            <td>{{envio.deli_esta}}</td>
		            <td>{{envio.deli_esta}}</td>
		            <td>{{envio.ptfx_msg}}</td>		        
		        </tr>		        
		    </tbody>
		    <div *ngIf="no_events==1">
			    <div class="alert alert-info">
	  					<a class="alert-link">No hay registros!</a>
				</div>        
			</div>	
		</table>
	</div>
</div>	