<div class="col-lg-8 col-lg-offset-1" >
	<div class="jumbotron">
		<h4> {{titulo}} </h4>
	
			<a [routerLink]="['/dashboard-co']" class="btn btn-lg btn-success"> ir al Dashboard </a>

	</div>
</div>

