      <p>This progress bar uses the customized default values.</p>
      <p><ngb-progressbar value="250"></ngb-progressbar></p>

      <p>This progress bar uses the customized default values, but changes the type using an input.</p>
      <p><ngb-progressbar value="500" type="info"></ngb-progressbar></p>

    </div>